<!-- MODAL CHANGE PROFILE PICTURE -->
<div id="ModalCambiarFotoPerfil" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Cambiar Foto de Perfil</h4>
            </div>
            <div class="modal-body">
                <div class="fileinput fileinput-new" data-provides="fileinput" style="display: table; margin: 0 auto;">
                    <div name="foto" id="file_preview" class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 300px; height: 300px;">
                    </div>
                    <div>
                        <span class="btn green btn-outline btn-file">
                            <span class="fileinput-new"> Buscar... </span>
                            <span class="fileinput-exists"> Buscar... </span>
                            <input type="hidden" value="img" name="img"><input type="file" name="file" id="file" accept="image/*">
                        </span>
                    </div>
                </div>
                <br/>
            </div>
            <div class="modal-footer">
                <button class="btn blue" id="btnChangeProfilePic">
                    Guardar
                </button>
                <button class="btn" id="btnRemoveProfilePic">
                    Remover
                </button>
            </div>
        </div>
    </div>
</div>
<!-- FIN MODAL CHANGE PROFILE PICTURE -->