<div class="hor-menu   hidden-sm hidden-xs">
    <ul class="nav navbar-nav">
        <li id="LiHome" class="classic-menu-dropdown">
            @Html.ActionLink("Home","Index","Home")
        </li>
        <li id="LiSolicitarPermiso" class="classic-menu-dropdown">
            @Html.ActionLink("Solicitar Permiso", "SolicitarPermisoView", "Permiso")
        </li>
        <li id="LiVerPermiso" class="classic-menu-dropdown">
            @Html.ActionLink("Ver Permisos", "VerPermisosView", "Permiso")   
        </li>
    </ul>
</div>
